.hero {
    background-color: beige;
    // background: radial-gradient(circle at top left, #2a2f6b 0%, #05060f 100%);
    background: linear-gradient(180deg, #0C0D10 0%,  #10142C 100%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    color: white;

    .hero-content {
        width: 100%;

        .hero-nav {
            width: 100%;
        }

        .hero-main {
            display: flex;
            justify-content: center;

            .hero-main-content {
                width: 100%;
                max-width: 1200px;
                border: 1px solid #000000;
            }
        }
    }
}