.main {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.information {
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    // background-color: #e4e4e4;
    // border: 1px solid white;
}

.about {
    // border: 1px solid black;

    .intro-title {
        background-color: #AAFFC4;
        padding: 0.5rem;
        font-size: 1.1rem;
    }

    .intro-wrapper {
        background-color: #F4F4F4;
        color: black;
        display: flex;
        padding: 2rem;
        // border: 1px solid black;

        .intro-desc {
            // border: 1px solid black;
            margin-left: 2rem;
            display: flex;
            flex-direction: column;
            // justify-content: space-between;

            .subtitle{
                font-size: 1.5rem;
                color: rgba($color: #000000, $alpha: 0.5); 
            }

            .intro-btn {
                text-decoration: none;
                color: black;
                background-color: #D4BEFF;
                // padding: 1rem;

            }
        }
    }

    .img-me {
        height: 300px;
        width: 300px;
    }
}

.projects {
    // border: 1px solid black;

    .project-title {
        background-color: #AAFFC4;
        padding: 0.5rem;
        font-size: 1.1rem;
    }

    .project-wrapper {
        background-color: #F4F4F4;
        color: black;
        display: flex;
        padding: 2rem;
        // border: 1px solid black;
    }

    

}