* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 14px;
  font-family: 'space mono', monospace;
  /* font-family: "Inter", "Segoe UI", system-ui, -apple-system, sans-serif; */
}

body, html {
  background-color: #111111;
}

